$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-gray: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #333;

$grid-width: 114rem;
$gutter-vertical: 8rem; // margin bottom rows
$gutter-horizontal: 6rem; // space of cols

$default-font-size: 1.6rem;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;
