@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%; //1rem =9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0px;
  }
}
